.accordion {
    transition: 0.5s ease all;
    border-radius: 30px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    padding: 50px;
    margin-bottom: 50px;
    background-color: $gray;
    @media (max-width:$tablet-v){
        padding: 25px;
    }
    @media(max-width:$tablet-v){
        padding: 25px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;

        h2 {
            font-size: 40px;
            font-family: "Space Grotesk", serif;
            @media(max-width:$desktop){
                font-size: 30px;
            }
            @media(max-width:$tablet-v){
                font-size: 18px;
            }
        }
    }

    &__button {
        pointer-events: all;
        cursor:pointer;
        position: relative;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: $gray;


    }
    &__content{
        border-top: 1px solid black;
        p{
            font-size: 18px;
            font-family: "Space Grotesk", serif;
        }
    }

    &__bar {
        position: absolute;
        background-color: #000;
        width: 30px;
        height: 3px;
        top:50%;
        left: 50%;
        transform: translate(-50%, 50%);
        &:last-child {
            position: absolute;
            transition: 0.5s ease ;
            left: 20%;
            transform: rotate(90deg) translate(0%, 0%);

        }
    }



}

.accordion.active{
    background-color: $navyBlue;
    transition: 0.5s ease all;
    color: #fff;
    .accordion__button{
        .accordion__bar{
            &:last-child {
              
                transition: 0.5s ease ;
                transform: rotate(0deg) translate(0%, 0%);
    
            }
        }
    }
}