.footer {
padding: 20px 50px;
    background-color: #cacaca;

    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width:$tablet-v){
            flex-direction: column;
        }
        ul {
            // margin-left: 170px;
            display: flex;
            list-style: none;
            @media(max-width:$tablet-v){
                flex-direction: column;
                margin: 0px 0px 10px;
            }
            li{
                font-size: 18px;
                color:black;
                margin-right: 40px;
                @media(max-width: $tablet-v){
                    margin-right: 0;
                    margin-bottom: 10px;
                }

            }
        }
    }
    &__content {
        display: flex;

    }
    &__left{
        width: 50%;
        p{
            color:white;
        }
    }
    %__right{
        width: 50%;
        p{
            white-space: pre-line;
        }
    }

.newLetter{
    padding: 20px;
    background-color: #292A32;
display: flex;
input{
    color: white;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
}
button{
background-color: #B9FF66;
margin-left: 20px;
}
}

}