.case_study {
        &__top {
            padding: 50px 20px;
            display: flex;

            @media(max-width:$tablet-v) {
                flex-direction: column;
                justify-content: center;
            }
         h3 {
                background-color: #0c3076;
                width: fit-content;
                font-size: 40px;
                font-family: "Space Grotesk", serif;
                color: #fff;
                padding: 0px 5px;
                border-radius: 7px;
                margin: 0;

                @media(max-width: $tablet-v) {
                    font-size: 36px;
                    margin: 0 0 30px;

                }

            }

            p {
                margin: 0 auto;
                font-family: "Space Grotesk", serif;
                font-weight: lighter;
                font-size: 16px;
                margin: 0 auto;
                width: 60%;

                @media(max-width: $tablet-v) {
                    width: 100%;
                }
            }
        }

        &__content {
            border-radius: 45px;
            padding: 50px 25px;
            color: #fff;
            @media(max-width: $tablet-v){
                padding: 0;
            }
           
        }

        &__text {
            display: flex;
          background-color: #191A23;
          border-radius: 17px;
            padding: 30px;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            &:not(:last-child) {
                border-right: 2px solid #fff;
                margin-right: 20px;
            }

            p {
                font-family: "Space Grotesk", serif;
                font-weight: lighter;
                font-size: 16px;
                line-height: 1.44;
            }

            a {
                font-size: 20px;
                color: #7d88da;
                font-family: "Space Grotesk", serif;
            }
        }
        .swiper-wrapper{
            display: flex;
        }
        .swiper{
            width: 100%;
        }
        .swiper-slide{

 height: unset;
        }
           
    }